@import '../../styles/index';

.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  background-color: $primary-color;
  color: $white-color;
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    background-color: $secondary-color;
  }

  &__label {
    font-weight: bold;
    cursor: pointer;
  }
}
