$white-color: #fafafa;
$black-color: #212121;
$grey-color: #cccccc;
$background-color: $white-color;
$primary-color: #8c77ff;
$secondary-color: #b2a4ff;
$yellow-color: #ffd966;
$green-color: #c9f4aa;
