@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$text-font: 'Roboto', sans-serif;

h1 {
  font-size: 90px;
  font-weight: 400;
  font-family: $text-font;
}

h2 {
  font-size: 45px;
  font-weight: 500;
  font-family: $text-font;
}

h3 {
  font-size: 28px;
  font-weight: 300;
  font-family: $text-font;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  font-family: $text-font;

  @media only screen and (max-width: 420px) {
    font-size: 15px;
  }
}

p, span, label, input, select, textarea {
  font-size: 16px;
  font-weight: 300;
  font-family: $text-font;
}

small {
  font-size: 12px;
  font-weight: 300;
  font-family: $text-font;
}
